@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");
:root {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}
* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
/* article section */

.articles {
  display: grid;
  row-gap: 2rem;
  margin: 4rem 0 3rem 0;
}
.articles .article {
  padding: 2rem;
  background: var(--gray-3);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.articles .article .article-title,
.articles .article .article-title a {
  color: var(--white-2);
  font-weight: 100;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 130%;
}
.articles .article:hover {
  transform: scale(1.05);
}
.articles .article .date {
  display: block;
  font-size: 0.8rem;
}
.articles .article .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.articles .article .tags .tag {
  margin: 0 0.5rem 0.3rem 0;
  display: block;
  color: var(--gray-4);
  background: var(--white-2);
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0 0.8rem;
  line-height: 1.3rem;
  cursor: pointer;
}
html,
body {
  color: var(--white-2);
  background-color: var(--gray-6);
  font-family: "JetBrains Mono", monospace;
  line-height: 2rem;
  background-color: var(--gray-5);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
    border-radius: 7px;
   
}

a img {
    border-radius:7px;
    
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: "JetBrains Mono", monospace;
    border-left: 3px solid;
    border-color: whitesmoke;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a,a:hover {
    color: #008080;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
    font-family: "JetBrains Mono", monospace;
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 1000px;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.site-title a {
	color: #333;
	text-decoration: none !important;
	background-color: azure;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: #1e1e1e;
   
}

.highlight {
    border-radius: 7px;
    overflow: auto;
    background-color: #1e1e1e;
    font-family: "JetBrains Mono", monospace;
}

pre code {
  display: inline-block;
}
  

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    margin-top: 20px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2em;
    font-weight: 400;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
    
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 1rem;
    font-weight: 400;
    
    color: #333;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 1rem;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
	margin-right: 5px;
}

.post .post-header .meta {
    
    margin-top: 10px;
}

.post .draft-label {
    color: #008080;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    
    
    
    
    
    font-size: 15px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

footer {
  text-align: center;
  
  font-family: "JetBrains Mono", monospace;
  border-top: 1px solid #f4f4f4;
  margin: 0 auto;
  max-width: 760px;
}

footer a {
  
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}

footer a:hover {
  color: #008080;
}
ul.footer-nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  list-style: none;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}



table th {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}
.site-tittle img {
	
	margin: auto;
	
	
}
.about {
	padding-bottom: 50px;

.about {
	text-align: center
}

.about h4 {
	
	margin-bottom: .5rem;
	font-weight: 400;
}

.about h5 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 400;
	
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	.centered .about h5 {
		
	}
}

.about ul {
	list-style: none;
	margin: 3rem 0 1rem 0;
	padding: 0
}

.about ul li {
	display: inline-block;
	position: relative
}

.about ul li a {
	
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1.6rem
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	.about ul li a {
		font-size: 1.4rem
	}
}
.title {
    
}

.more ul{
    list-style:none !important;
    padding-left: 0px
}
